doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1')
    title Home
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    div#app
    script(src='/core/lib_00_common.dll.js', charset='utf-8')
    script(src='/core/lib_01_bootstrap.dll.js', charset='utf-8')
    script(src='/core/lib_02_react.dll.js', charset='utf-8')
    script(src='/core/lib_03_material.dll.js', charset='utf-8')
    script(src='/core/lib_04_others.dll.js', charset='utf-8')
    script(src='/core/main.js', charset='utf-8')
